* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainIndex {
  display: flex;
  justify-content: center;
}

#mainIndex ul li {
  list-style: none;
  margin: 20px 0;
}

#mainIndex ul li span {
  display: inline-block;
  width: 200px;
}

#mainDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainDetails h1,
#mainDetails h3 {
  display: block;
  margin: 10px 0;
}

#mainDetails a {
  margin-top: 40px;
}

