* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainIndex {
  display: flex;
  justify-content: center;

  ul {

    li {
      list-style: none;
      margin: 20px 0;

      span {
        display: inline-block;
        width: 200px;
      }
    }
  }
}


///////////////////////////////



#mainDetails {

  display: flex;
  flex-direction: column;
  align-items: center;

  h1,h3 {
    display: block;
    margin: 10px 0;
  }

  a {
    margin-top: 40px;
  }
}
